# Adding webscraping lesson practice files
Practice.ipynb
Practice2.ipynb

# Adding .ipynb_checkpoints
.ipynb_checkpoints

# Adding cache
__pycache__/

# Adding copy of old file versions
scraping - Copy.py
index - copy.html